body {
    width: 100%;
    overflow: hidden;
}

.header img {
    width: 150px;
}

.content {
    width: 100%;
    color: black;
    padding-left: 100px;
    font-family: 'Raleway', sans-serif;
}

.graph_container {
    position: relative;
    width: 80%;
    border-right: 1px solid #CCCCCC;
}

.graph_container .tabs {
    position: absolute;
    left: 100%;
    margin-left: 20px;
    top: 30px;
    width: 200px;
    height: 100%;
}

.graph_container .tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.graph_container .tabs ul li {
    padding: 30px;
    padding-left: 20px;
    cursor: pointer;
    background-color: #FFFFFF;
}

.graph_container .tabs ul li:hover {
    background-color: #EEEEEE;
}

.selected {
    background-color: #DDDDDD;
    font-weight: bold;
}

.page {
    position: absolute;
    width: 100%;
}

table {
    border: 0;
}

table td {
    text-align: center;
    padding-right: 50px;
}